<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
    <li><a href="{{ root_url }}/synopsis">Synopsis</a></li>
    <li><a href="{{ root_url }}/bio">Bio</a></li>
  <li><a href="{{ root_url }}/sample">Sample</a></li>
    <li><a href="{{ root_url }}/more">More</a></li>
    <li><a href="{{ root_url }}/more2">2</a></li>
    <li><a href="{{ root_url }}/more3">3</a></li>
    <li><a href="{{ root_url }}/more4">4</a></li>
    <li><a href="{{ root_url }}/blog">News</a></li>
  <li><a href="{{ root_url }}/contact">Contact</a></li>
  <li><a href="{{ root_url }}/atom.xml"><img src='/images/rss.png' /> RSS</a></li>
</ul>
